name: Publish docs

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  publish-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - run: npm i -g @automattic/vip
      - run: node ./helpers/generate-docs.js > /tmp/docs.json
      - name: Print docs.json
        run: cat /tmp/docs.json
      - name: Send docs to docs site
        env:
          DOCS_SECRET_TOKEN: ${{ secrets.DOCS_SECRET_TOKEN }}
        run: |
          curl -X POST -v \
            -H "Authorization: Bearer $DOCS_SECRET_TOKEN" \
            -H "Content-Type: application/json" \
            --data "@/tmp/docs.json" \
            https://develop-docs.wpvip.com/wp-json/vip/v1/vip-cli
